@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to <b>Iconnect</b> Job Portal</h1>
        <h2 style="color: blue">Connecting Employers and potential Job seekers ...</h2>

        <p>
            <h3> Job Seekers</h3>

        <p>Add a new Job seeker profile</p>
        <p>Search for New jobs by keyword</p>
        <p>Apply Jobs for selected profile</p>
        <p> List all the Job seeker profile pages including Resume, Application history</p>

        <p>
            <h3 title="Employers">Employers </h3>
        <p>Add a new Employer - Paginated in Descending Registration Date/Time</p>
        <p>Add New Jobs for an Employer - with Sorting for Job Id and Job Creation Date/Time</p>
        <p>View All the job details including</p>
        <p>Job Description</p>
        <p>Job Skills</p>
        <p>Job Education</p>

    </div>
