@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Iconnect Job Portal</h1>
    <p>Portal connecting Employers and potential Job seekers faster</a>.</p>
</div>
