@model IEnumerable<CareerCloud.Pocos.ApplicantResumePoco>

@{
    ViewData["Title"] = "_ApplicantResumes";
}
<h2> Resumes Uploaded</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resume)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Resume)
                </td>

            </tr>
        }
    </tbody>
</table>
